<% count_sum = sum_counts(@tweet_counts) %>
<%= for tweet_count <- @tweet_counts do %>
  <%= link to: "https://twitter.com/#{tweet_count.twitter_user.screen_name}" do
    tweet_count_image(tweet_count, @tweet_counts)
  end %>
<% end %>
